<h1>My Portfolio</h1>

<section class='search-area'>
  <h3>Search Stocks</h3>
  <%= form_tag search_stock_path, method: :get, class:'form-group row stocks-form' do %>
    <div class='col-sm-9'>
      <%= text_field_tag :stock, params[:stock], placeholder: 'Stock ticker symbol', autofocus: true, class:'form-control form-control-lg' %>
    </div>
    <div class='col-sm-3 search-button-container'>
      <%= button_tag type: :submit, class: 'btn btn-success btn-search' do %>
        <%= fa_icon 'search' %>
      <% end %>
    </div>
  <% end %>
</section>

<% if @stock %>
  <div class='card card-header stock-results'>
    <strong>Ticker:</strong> <%= @stock.ticker %>
    <strong>Name:</strong> <%= @stock.name %>
    <strong>Last price:</strong> <%= @stock.last_price %>
  </div>
<% end %>